/* SignupAdmin.css */

.signup-admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffb6c1, #87cefa);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.signup-admin-form {
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.signup-admin-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-control {
    margin-bottom: 20px;
    text-align: left;
}

.form-control label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.form-control input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    /* Include padding in input width */
}

.error-message {
    color: #e74c3c;
    margin: 10px 0;
}

.success-message {
    color: #2ecc71;
    margin: 10px 0;
}

.signup-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #d35400;
}

/* Logo at the top of the form */
.signup-logo {
    background-image: url('../public/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .signup-admin-form {
        padding: 20px;
    }
}